.style{
    color: wheat;
    padding: 10px;

    font-size: 1.3rem;
    box-sizing: border-box;
    display: block;
}
.style:hover{ 
  background-color: cadetblue;
  color: white;
  text-decoration: none;
}
.navbar{
padding: 0 !important;
}